bin/*
build/*
*.o
.vscode/*
vendor/*.tar.gz

# Tool binaries
tools/mc_convert
tools/mc_plotter

# Test temp files
*_tmp.*
plans/*
tests/nucdata/endfb71-tsl/
tests/nucdata/endfb71-tsl.tar.gz
tests/nucdata/njoy-test74/
tests/nucdata/njoy-test07/
tests/nucdata/njoy-test08/
tests/nucdata/njoy-test59/
tests/nucdata/njoy-test25/
